@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Roboto&display=swap');

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");



body {
	font-family: 'roboto', serif;
	color: black;
	font-size: 18px;
}

h1, h2, h3 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-style: normal;
			
}

a {
	text-decoration: none;
}

